# Ignore backend dependencies and secrets
/backend/node_modules
/backend/.env

# Ignore frontend dependencies and secrets
/frontend/node_modules
/frontend/.env
/frontend/.env.development
/frontend/build
/frontend/maifest